<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <title>Puna</title>
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/f1d54fd117.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<!--nav-->
 <div>
    <nav> 
      <ul class="menu">
         <li class="logo"><a href="../index.html">Jujuy</a></li> 
         <li class="item"><a href="./puna.html">Puna</a></li> 
         <li class="item"><a href="./quebrada.html">Quebrada</a></li> 
          <li class="item"><a href="./valles.html">Valles</a></li> 
          <li class="item"><a href="./yungas.html">Yungas</a></li>  
          <li class="item"><a href="./contact.html">Contacto</a></li>
          <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
      </ul> 
    </nav>
 </div>
 <!--main-->
 <main>
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valle de la Luna. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un pedacito de otro planeta en el nuestro. </font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Este hermoso lugar es lo que buscabas si querias un lugar tranquilo y relajado como se caracteriza nuestra Puna Argentina, el color de sus montañas rojizas gracias a sus minerales asemejandose a otro planeta solamente en compania del viento y el tiempo, compañeros fieles en esta region siempre presentes, suavizando los picos montañosos haciendolos redondeados dando asi una sensacion de suavidad al paisaje.</font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.938272636849!2d-66.46664172560448!3d-22.353230518320586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9403d7f8603f1b67%3A0xc1437969ea2d75a9!2sValle%20de%20la%20Luna!5e1!3m2!1ses-419!2sar!4v1675181621475!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5">
        <img src="../img/valledelaluna.jpg" alt="" width="500" height="400" img role="img" aria-label="Marcador de posición: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Abdon Castro Tolay. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las piedras tambien hablan.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta montaña da vida a un pequeño pueblo muy alejado de la vida cotidiana de la ciudad, en este lugar no solamente es una escultura hecha por el paso de los años sino que entre sus paredes o en piedras aledañas podemos apreciar tallados rupestres dandonos asi una cercania de culturas ancestrales de la zona y una historia a nuestro pueblo</font></font></p>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5962.322500906646!2d-66.09531341094986!3d-23.34292136508531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940342bca0881897%3A0xc9da028220bec8c!2sAbd%C3%B3n%20Castro%20Tolay%2C%20Jujuy!5e1!3m2!1ses-419!2sar!4v1675181928548!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../img/achalay-puna.jpg" alt="" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>> 
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Piletones de las Salinas Grandes. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tienes que conocerlo.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En este inmenso lugar que es la Puna podemos encontrar un desierto blanco, hecho por sal, quien diria que de un desierto podria ser el sustento de muchas familias ya que este provee no solo sal para cocinar sino que tambien su poblacion hacen con ella maravillosas artesanias.
          Aqui tambien podemos apreciar un paisaje vacio pero a la vez hermoso dando asi mas protagonismo a las nubes y montañas del horizonte</font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67310.62443590256!2d-65.94004408316884!3d-23.627369750557648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9403558cccbe9041%3A0x9164c69c7a51236b!2sSalina%20Grande!5e1!3m2!1ses-419!2sar!4v1675183798169!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5">
        <img src="../img/piletones-salinas.jpg" alt="" width="500" height="400" img role="img" aria-label="Marcador de posición: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Laguna de Pozuelos. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver por ti mismo.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta laguna es un monumento y una reserva natural ya que podemos encontrar en ella avistaje de animales como llamas y vicuñas, gatos andino, roedores y quien se lleva la vista de todos son los flamencos.</font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192176.7942658948!2d-66.14855350520398!3d-22.361388899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9403fb7d3093ec91%3A0x24d4e7ec83ae585e!2sLaguna%20de%20Pozuelos!5e1!3m2!1ses-419!2sar!4v1675184439258!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../img/Flamencos-Laguna-de-Pozuelos.jpg" alt="" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>> 
      </div>
    </div>
    

  </main>



</body>
</html>