<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <title>Valles</title>
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/f1d54fd117.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
     <!--nav-->
 <div>
    <nav> 
      <ul class="menu">
         <li class="logo"><a href="../index.html">Jujuy</a></li> 
         <li class="item"><a href="./puna.html">Puna</a></li> 
         <li class="item"><a href="./quebrada.html">Quebrada</a></li> 
          <li class="item"><a href="./valles.html">Valles</a></li> 
          <li class="item"><a href="./yungas.html">Yungas</a></li>  
          <li class="item"><a href="./contact.html">Contacto</a></li>
          <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
      </ul> 
    </nav>
 </div>
 <!--main-->
 <main>
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paredones de Yala. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span></h2>
          <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En el departamento de Yala se esconde un accidente geografico muy llamativo, la erosion de sus piedras por parte del rio se hacen notar levantando unas paredes de hasta 6metros. </font></font></p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.828454200795!2d-65.3340046855312!3d-24.001834083889587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b171d984203db%3A0xcc6b0f63e2f23488!2sCascada%20De%20Tiraxi!5e0!3m2!1ses-419!2sar!4v1677627016011!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-5">
          <img src="../img/valles-paredones.jpg" alt="" width="500" height="400" img role="img" aria-label="Marcador de posición: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>>
        </div>
      </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lagunas de Yala. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El departamento de Yala nos ofrece varias actividades y paisajes, una de las actividades mas concurridas es el trekking de las lagunas, consta de una caminata de 9km a traves de sus valles encerrados en sus montañas llenas de flora y fauna.</font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14566.517778073396!2d-65.48311904787543!3d-24.114523392592094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b6d2c671ea37f%3A0x7a11b9f0510f29d6!2sLagunas%20de%20Yala%2C%20Jujuy!5e0!3m2!1ses-419!2sar!4v1677625538169!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
      <div class="col-md-5 order-md-1">
        <img src="../img/valles-lagunadeyala.jpg" alt="" width="500" height="400"  role="img" aria-label="Marcador de posición: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>> 
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cascada de Tiraxi. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La cascada de Tiraxi se encuantra muy cerca del pueblos Tiraxi y Ocloyas, pueblos originarios de la zona llenos de culturas y costumbres. </font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.828454200795!2d-65.3340046855312!3d-24.001834083889587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b171d984203db%3A0xcc6b0f63e2f23488!2sCascada%20De%20Tiraxi!5e0!3m2!1ses-419!2sar!4v1677627016011!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5">
        <img src="../img/valles-tiraxi.jpg" alt="" width="500" height="400" img role="img" aria-label="Marcador de posición: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La Tacita de Plata. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jujuy no solamente es naturaleza tambien es progreso, es ciudad, es energia viva. Un paseo por esta capital que tiene una mezcla de arquitectura nueva y arquitectura del pasado, una ciudad con historia y cultura una ciudad que invita a quedarse.</font></font></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7278.940167795799!2d-65.30103970177497!3d-24.190310586070762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f4446d0f1d5%3A0x63a60d97ff537ec7!2sParque%20Lineal%20Xibi-Xibi!5e0!3m2!1ses-419!2sar!4v1677628029967!5m2!1ses-419!2sar" width="300" height="250" style="border-radius: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../img/parque-lineal-xibi-xibi.jpg" alt="" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect>> 
      </div>
    </div>
    

  </main>
    
</body>
</html>